.handling-form {
  display: flex;
  flex-direction: column;
}

.form-buttons {
  display: flex;
  gap: 6px;
  align-self: flex-end;
}

.form-buttons button {
  font-weight: bold;
}

.dates {
  display: flex;
  gap: 10px;
  margin-bottom: 6px;
}
