<div class="containers-list-page">
  <a nz-button
    class="action-btn"
    [nzType]="'primary'"
    [routerLink]="['new']">
    Novo Container
  </a>
  <nz-table #containersTable
    [nzFrontPagination]="false"
    [nzData]="(containers$ | async)?.dados"
    [nzPageSize]="(containers$ | async)?.tamanho"
    [nzPageIndex]="(containers$ | async)?.paginaAtual"
    [nzTotal]="(containers$ | async)?.quantidadeTotal"
    (nzPageIndexChange)="changePage($event)">
    <thead>
      <tr>
        <th [nzSortOrder]>Número</th>
        <th [nzSortFn]="true" (nzSortOrderChange)="sort('cliente', $event)">
          Cliente</th>
        <th [nzSortFn]="true" (nzSortOrderChange)="sort('tipo', $event)">Tipo
        </th>
        <th [nzSortFn]="true" (nzSortOrderChange)="sort('categoria', $event)">
          Categoria</th>
        <th [nzSortFn]="true" (nzSortOrderChange)="sort('status', $event)">
          Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let container of containersTable.data">
        <td>{{container.numero}}</td>
        <td>{{container.cliente}}</td>
        <td>{{container.tipo}}</td>
        <td>{{container.categoria.descricao}}</td>
        <td>{{container.status.descricao}}</td>
        <td>
          <a nz-icon
            nzType="edit"
            nzTheme="outline"
            [routerLink]="['edit', container.id]">
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
